.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 40px auto;

}
  footer {
  font-size: 14px;
  margin: 15px;
  margin-bottom: 0;
}

h1 {
  color: cornflowerblue;
  margin-top: 20px;
  margin-bottom: 0;
}

li {
  list-style: none;                                                                   
  font-size: 14px;
  font-weight: 20px;
  line-height: 21px;
  margin-bottom: 5px;
}

li:first-letter {
  text-transform: capitalize;
}




