
.Weather { 
padding: 20px;
border: 1px solid;
border-radius: 5px;
}

.WeatherTemperature {
  margin-left: 20px;
  position: relative;
  top: -70px;  

}

.WeatherTemperature img {
    margin-right: 5px;
    height: 64px;
    width: 30px;
}

.WeatherTemperature .temperature {
    color: rgb(83, 145, 145);
    font-size: 64px;
    font-weight: 200;
}

.WeatherTemperature .units {
    position: relative;
    top: -32px;
}

.WeatherTemperature .active {
    color: black;
    cursor: default;
}

.WeatherTemperature .active:hover {
    text-decoration: none;
}

.units a {
    text-decoration: none;
}
.WeatherInfo ul {
    margin-bottom: 0;
 
}